.hg
.hgignore
.hgtags
*.bkp
*.info
*.gcov
*.gcna
*.gcno
*.gcda
*.swp
*.log
*.dat
*.vt[ksu]
*.pvt[ksu]
*.h5m
.*_license
*.o
*.pyc
*~
*.orig
.nagged
*.gcov.html
*.dSYM
*.mexmaci*
valgrind*
callgrind.out.*
.DS_Store
session_*
*.xc*
*.vim
TAGS*
CTAGS
ETAGS
GPATH
GRTAGS
GSYMS
GTAGS
