*.bkp
*.info
*.gcov
*.gcna
*.gcno
*.gcda
*.sw[a-z]
*.log
*.dat
*.vt[ksu]
*.pvt[ksu]
*.h5m
.*_license
*.o
*.pyc
*~
*.orig
.nagged
*.gcov.html
*.dSYM
*.mexmaci*
valgrind*
callgrind.out.*
.DS_Store
session_*
*.xc*
*.vim
TAGS*
CTAGS
ETAGS
GPATH
GRTAGS
GSYMS
GTAGS
/src/**/tests/**/ex[0-9]*
/src/**/tutorials/**/ex[0-9]*
/src/tutorials/jbearing2
*.h.html
*.c.html
makefile.html
index.html
/arch-*/
/lib/
/obj/
/tests/
/env*
